<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - MediGest</title>

    <link rel="stylesheet" th:href="@{/styles/global.css}">
    <link rel="stylesheet" th:href="@{/styles/login.css}">
</head>

<body>

    <main class="container">

        <section class="image-box">
            <img th:src="@{/images/medigestLeder.png}" alt="Médico MediGest">
        </section>

        <section class="login-box">
            <div class="login-content">

                <header class="login-header">
                    <span class="subtitle">BIENVENIDO DE NUEVO</span>
                    <h1>Iniciar sesión</h1>
                    <p>Ingresa tus credenciales para acceder al sistema</p>
                </header>

                <form th:action="@{/login}" method="post">

                    <div class="input-group">
                        <label for="username">Correo electrónico</label>
                        <input type="text" id="username" name="username" placeholder="admin@medicitas.com" required>
                    </div>

                    <div class="input-group">
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password" placeholder="••••••••" required>
                    </div>

                    <div class="form-actions">
                        <label class="remember-me">
                            <input type="checkbox" name="remember"> Recordarme
                        </label>
                        <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
                    </div>

                    <button type="submit">
                        Ingresar al sistema →
                    </button>

                </form>
                <p th:if="${error}" th:text="${error}" class="form-error"></p>
            </div>
        </section>

    </main>

</body>

</html>